<div class='card'>
  <div class='card-body'>
    <h1 class='mb-3 text-center'>ToDo List</h1>
    <form action='/api/list' method='POST' class='list-form'>
      <div
        class='form-control p-2 d-flex justify-content-between align-items-center'
      >
        <input type='text' name='item' id='name' class='' placeholder='Item' />
        <input type='submit' value='Add Item' class='btn btn-primary' />
      </div>
    </form>

    <ul class='list-items p-0 m-4'>
      {{#each list}}
        <li
          class='list-item
            {{this.status}}
            d-flex justify-content-between align-items-center mb-2'
        >
          <div class='list-item--text'>
            <input type='checkbox' name='status' class='checkbox me-2' />
            <span class='item'> {{this.item}} </span>
          </div>

          <div class='btns'>
            <button
              data-id='{{id}}'
              class='fas fa-edit text-success edit'
            ></button>
            <button
              data-id='{{id}}'
              class='fas fa-trash text-danger delete'
            ></button>
          </div>
        </li>
      {{/each}}
    </ul>

  </div>
</div>